html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

body {
    background: url("../images/background.jpg")no-repeat;
    background-size: cover;
    max-height: 60%;
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    background: url("../images/header_bg.jpg");
    background-size: cover;
    color: #ffffff;
    min-height: 70px;
    border-bottom: red 3px solid;
}

header #logo {
    float: left;
}

#logo h1 a {
    font-size: 30px;
    padding-left: -60px;
    text-decoration: none;
    color: #ffffff;
}

header nav {
    float: right;
    margin-top: 30px;
}

header ul {
    margin: 0;
    padding: 0;
}

.gameslist h1 {
    font-size: 40px;
    padding-left: 60px;
}

.gameslist ul {
    display: block;
    list-style: none;
    padding-left: 160px;
}

.gameslist ul li {
    text-decoration: none;
}

.gameslist ul li a {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.gameslist ul li a:hover {
    color: red;
}

header ul li {
    display: inline;
    font-size: 23px;
    padding: 30px 60px;
    padding-left: -40px;
}

header .current a {
    font-weight: bold;
    color: red;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:hover {
    font-weight: bold;
    color: red;
}

.menu {
    margin: 30px;
    padding: 0;
}

.menu h1 {
    text-align: center;
    letter-spacing: 1ch;
}

.menu p {
    font-size: 19px;
    letter-spacing: 15px;
}

.scoreboard {
    padding: 30px;
}

.scoreboard p {
    color: red;
    padding: 70px;
    font-size: 30px;
    font-weight: bold;
    display: inline;
}